.container {
    display: flex;
    justify-content: space-between; /* Distribute columns evenly */
}

.column {
    flex-basis: calc(33.33% - 20px); /* Set column width */
    padding: 20px;
    border: none !important; /* Remove the border */
}

.column-image {
    max-width: 100%;
    height: auto;
}