<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

<div class="container">
    <div class="column">
        {% if page.title == "Index 1" %}
            {{ content }}
        {% endif %}
    </div>
    <div class="column">
        {% if page.title == "Index 2" %}
            {{ content }}
        {% endif %}
    </div>
    <div class="column">
        {% if page.title == "Index 3" %}
            {{ content }}
        {% endif %}
    </div>
</div>

</body>
</html>