 ---
layout: default
---
<html>
<head>
	<title>Where to go</title>
	<style>
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    .column {
      width: 50%;
      float: left;
      padding: 10px;
      box-sizing: border-box;
      text-align: center
    }
    .column1 {
      width: 100%;
      float: center;
      padding: 10px;
      box-sizing: border-box;
      text-align: center
    }
    .centered-image {
    display: block;
    margin: 0 auto;
    }
    h2 {
    margin-bottom: -15px;
    } 
    p {
    margin-top: 10px;
    }
  </style>
</head>
<body>
  <h1 align="center"> Welcome to our landing page for the final project! </h1>
  <h2 align="center"> 02806 Social Data Analysis and Visualization </h2>
  <h3 align="center"> Technical University of Denmark </h3>
  <img src = "/SocialDataFinalProject/site_content/sanfran.jpg" width = 600 height = 300 class="centered-image"> </img>
  <div class="container">
    <div class="column">
      <a href="{{site.url}}/projectdescription"> 
        <h2>Project description</h2>
        </a>
      <p>A brief overview of just how much we will blow your mind &#129327</p>
    </div>
    <div class="column">
      <a href="{{site.url}}/who_are_we/">
        <h2>Who are we?</h2>
        </a>
      <p>This is the place to be if you want to learn more about us!</p>
    </div>
    <div class="column1">
      <a href="{{site.url}}/project/">
        <h2> 3-1-1 Cases in San Francisco </h2>
        </a>
      <p>Let's tear (&#128167) into our super awesome and exciting project!</p>
    </div>
  <div style="position: absolute; left: 24%; bottom: 5px;">
    <p>&#128588 Special thanks to fellow students Asger Thomsen and Esben Lemminger for letting us take inspiration on the webpage design &#128588</p>
  </div>
</body>

<!-- <div class="column">
  <a href="/ToC/">
  <h2>Table of Contents</h2>
  </a>
  <p>Get an overview of the projects content, and browse through our findings</p>
</div> -->